* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #129799;
    width: 100%;
    height: 56vh;
}
nav {
    display: flex;
    justify-content: center;
    height: 8vh;
    align-items: center;
}
ul { 
    display: flex;
    width: 30vw;
    justify-content: space-around;
    list-style: none;
}
li { 
    color: white;
    font-size: 20px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
h1 {
    position: relative;
    top: 1.5vh;
    color: white;
    font-size: 40px;
}
.nav2 ul {
    width: 52vw;
}
main {
    background-color: #FFA185;
    width: 100%;
    height: 130vh;
}
.h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 220px;
    height: 20vh;
    width: 80%;
}
h2 {
    color: #ffff; 
    font-size: 30px;
}
p {
    font-size: 20px;
}
.fig {
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
img {
    width: 40vw;
    height: 40vh;
}
.VM {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
footer{
    background-color: #129799;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer section {
    display: flex;
    justify-content: space-around;
    width: 200px;
}
footer img {
    width: 30px;
    height: 30px;
}